.right_box {
    width: 25rem;
    height: 27rem;
    float: left;
    padding: 2rem;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    border: 0.3rem solid #dbdad8;
    border-radius: 1rem;
}

.right_box button {
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 1.6rem;
}
