body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: #e28834;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #f5c33a;
}

.link_button {
  text-decoration: none;
}